* {
    overflow: hidden;
}

.error {
    width: 60%;
    border: 1px solid white;
}

.errorlist {
    text-align: center;
    width: 100%;
    font-family: "Oxanium";
    color: white;
}



.form {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
.LOGINFORM span {
    font-size: 30px;
    font-weight: 700;
    color: white ;
    font-family: "Oxanium";
}

.form .LOGINFORM {
    background-color: rgba(24, 23, 23, .7);
    gap: 5px;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 15px rgb(63, 225, 79);
}

.form label {
    margin-top: 5px;
    color: white;
    font-family: "Oxanium";
}


.username, .password {
    border-radius: .5em;
    border: none;
    height: 40px;
    border: 2px solid rgba(63, 225, 79, .8);
}

.LOGINFORM  button {
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgb(63, 225, 79);
    font-weight: 700;
    font-size: 1rem;
    font-family: "Oxanium";
    align-self: center;
    width: 30%;
    margin-top: 5px;
    height: 30px;
    background: rgba(63, 225, 79, .8);
    border: none;
    border-radius: .5em;
}

@media screen and (max-width: 768px) {
    .LOGINFORM {
        width: 60%;
    }
    
}
