.content {
    padding: 0 40px;
}
.postingan .btn {
    background: transparent;
    color: white;
    font-size: 20px;
}
.postingan .btn:hover {
    color: blue;
    cursor: pointer;
}

.postingan {
    position: relative;
}
.post {
    margin-top: 20px;
    position: relative;
}

/* form */
.section {
    z-index: 100;
    top: 0;
    width: 60%;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 290px;
    padding-left: 40px;
}
.section .edit-form {
    border-radius: 1rem;
    background-color: rgba(24, 23, 23, .7);
    box-shadow: 0 0 15px rgb(63, 225, 79);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 90%;
    height: 80%;
    left: 100px;
}


.label {
    color: white;
    font-weight: 600;
    font-family: "Oxanium";
}


.form-content {
    width: 80%;
    height: 40%;
    border-radius:.5em;
    border: none;
    border: 2px solid rgba(63, 225, 79, 0.8);
    padding-left: 10px;
}

.form-banner {
    font-family: "Oxanium";
    color: white;
}


.btn-post {
    box-shadow: 0 0 10px rgb(63, 225, 79);
    font-weight: 700;
    font-size: 1rem;
    font-family: "Oxanium";
    width: 30%;
    margin-top: 5px;
    height: 30px;
    background: rgba(63, 225, 79, .8);
    border: none;
    border-radius: .5em;
}

.post h3 {
    color: white;
    font-family: "Oxanium";
}
.post .gambar {
    margin-bottom: 5px;
    border: 1px solid rgba(156, 151, 151, .5);
    width: 100%;
    height: 500px;
    object-fit: cover;
    align-content: center;
    text-align: center;
}
.post img,video {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
}
.post p {
    color: white ;
}

.post a {
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    background: transparent;
    color: white;
}
.post a:hover {
    color: blue;
}

@media screen and (max-width: 770px) {
    .content {
        padding: 0 10px;
        width: 89%;
    }
    .postingan span {
        font-size: 15px;
    }
    .section {
        left: 50px;
        width: 100%;
        padding-left: 10px;
    }
    .section .edit-form {
        width: 75%;
    }
    
}


@media screen and (max-width: 560px) {
    .postingan .btn-delete {
        top: 530px;
        right: 420px;
    }
    .postingan .btn-edit {
        top: 532px;
        right: 380px;
    }
    .postingan .btn:hover span {
        display: none;
    }
    .content {
        padding: 0 10px;
        width: 100%;
    }
    .section {
        border: 1px solid white;
        left: 0;
        padding-left: 10px;
    }
    .form-content {
        height: 30%;
    }
    .section .edit-form {
        width: 97%;

    }
}

/* akhir form */